<template>
 <div>
   <comment class="comment" v-for="(comment, key) in commentsList" :key="key" v-on:delete="sendDelteteComment" :comment="comment"/>
 </div>
</template>

<script>
import comment from "./comment"
export default {
  data() {
    return {
      commentsList: {},
      ws: "",
    }
  },
  methods: {
    getComments() {
      //Here can be data getter from endpoint
      return this.commentsList = [{"id":1,"text":"Тестовый коммент 1"},{"id":2,"text":"Это шедевр"},{"id":3,"text":"Это прекрасно"},{"id":4,"text":"Лучшее, что я видел"},{"id":5,"text":"Два чая этому автору"},{"id":6,"text":"Тестовый коммент 6"},{"id":7,"text":"Тестовый коммент 7"},{"id":8,"text":"Тестовый коммент 8"},{"id":9,"text":"Тестовый коммент 9"},{"id":10,"text":"Тестовый коммент 10"}];
    },
    sendDelteteComment(id) {
      this.ws.send(id);
    },
    deleteComment(id) {
      // this.commentsList[id] = undefined;
      for (let i = 0; i < this.commentsList.length; i++) {
        if (this.commentsList[i].id == id) {
          this.commentsList.splice(i, 1)
          break;
        }
      }
    }
  },
  created(){
    this.ws = new WebSocket("ws://echo.websocket.org/");
    this.getComments();
    this.ws.onmessage = message => {
      let id = parseInt(message.data);
      if (id > 0) {
        this.deleteComment(id);
      }
    }
  },
  deleted(){
    this.ws.close();
  },
  components: {comment}
}
</script>

<style scoped>
  .comment{
    padding: 10px;
    margin: 10px 0;
  }

</style>
