<template>
 <div>
   <span>{{comment.text}}</span>
   <button @click="deleteMe">(Удалить)</button>
 </div>
</template>

<script>
export default {
  props: ["comment"],
  methods: {
    deleteMe() {
      this.$emit("delete",this.comment.id);
    }
  }
}
</script>

<style scoped>
  button {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
</style>
