<template>
  <div>
    <div class="fractionsWrapper">
      <Fraction v-for="(fraction, key) in fractions" :key="key" :myState.sync="fraction" />
      <Fraction :myState="result" :disabled="true"/>
    </div>
    <button @click="addFraction(1)">Add fraction</button>
  </div>
</template>

<script>
import Fraction from "./fraction"
export default {
  name: "fractionsWrapper",
  data() {
    return {
      fractions: [],
    }
  },
  methods: {
    addFraction(count){
      if(this.fractions.length-1 > 0) this.fractions[this.fractions.length-1].last = false;
      for (let i = 0; i < count; i++) {
        this.fractions.push({
          numerator: 1,
          denominator: 1,
          operator: "+",
          last: i == count-1
        });
      }
    }
  },
  computed: {
    result() {
      var fractions = Array.from(this.fractions);
      function fractionParseInt(fraction) {
        if (fraction === undefined) return undefined;
        fraction.numerator = parseInt(fraction.numerator);
        fraction.denominator = parseInt(fraction.denominator);
        return fraction;
      }
      function fractionReduction(fraction) {
        let r = Math.min(fraction.numerator, fraction.denominator);
        while (r > 0){
          let rNumerator = fraction.numerator / r;
          let rDenominator = fraction.denominator / r;
          if (Number.isInteger(rNumerator) && Number.isInteger(rDenominator)) {
            fraction.numerator = rNumerator;
            fraction.denominator = rDenominator;
            break;
          }
          r -= 1;
        }
        return fraction
      }
      function hasNext(data) {
        return parseInt(data.i)+1 < data.fractions.length;
      }
      function countFraction(data) {
        let fraction = {
          numerator: "",
          denominator: "",
          operator: "",
          last: false,
        }
        let current = fractionParseInt(data.currentFraction);
        let next = fractionParseInt(data.fractions[parseInt(data.i)+1]);
        if (next === undefined) return data.currentFraction;
        fraction.operator = next.operator;
        fraction.last = next.last;

        if (current.denominator != next.denominator) {
          if (current.operator == "+" || current.operator == "-") {
            let currentNumerator = current.numerator * next.denominator;
            let nextNumerator = next.numerator * current.denominator;
            fraction.numerator = current.operator == "+" ? currentNumerator + nextNumerator : currentNumerator - nextNumerator;
            fraction.denominator = current.denominator * next.denominator;
          } else {
            fraction.numerator = current.operator == "*" ? current.numerator * next.numerator : current.numerator * next.denominator;
            fraction.denominator = current.operator == "*" ? current.denominator * next.denominator : current.denominator * next.numerator;
          }
        } else {
          fraction.denominator = current.denominator;
          switch (current.operator) {
            case "-": {
              fraction.numerator = current.numerator - next.numerator;
              break;
            }
            case "*": {
              fraction.numerator = current.numerator * next.numerator;
              break;
            }
            case "/": {
              fraction.numerator = current.numerator * next.denominator;
              fraction.denominator = current.denominator * next.numerator;
              break;
            }
            case "+": {
              fraction.numerator = current.numerator + next.numerator;
              break;
            }
          }
        }
        return fraction;
      }
      function getResult() {
        let i = 0;
        while (i < fractions.length) {
          let operator = fractions[i].operator;
          if (operator != "*" && operator != "/") {
            i++;
            continue;
           }

          fractions[i] = countFraction({currentFraction:fractions[i], i, fractions});
          if (hasNext({i, fractions })) {
            fractions[i].operator = fractions[i+1].operator;
            fractions[i].last = fractions[i+1].last;
            fractions.splice(i+1, 1);
          }
        }

        var currentFraction = fractions[0];
        for (let i = 0; i < fractions.length; i++) {
          currentFraction = countFraction({currentFraction, i, fractions});
        }
        return fractionReduction(currentFraction);
      }

      return getResult();
    }
  },
  created() {
    this.addFraction(2);
  },
  components: {Fraction}
}
</script>

<style lang="css" scoped>
  .fractionsWrapper {
    display: flex;
    justify-content: center;
  }

</style>
