<template>
  <div class="wrap">
    <div class="fraction">
      <input type="number" name="numerator" :disabled="disabled" v-model="myState.numerator" placeholder="1" min="1">
      <span class="delimiter"></span>
      <input type="number" name="denominator" :disabled="disabled" v-model="myState.denominator" placeholder="10" min="1">
    </div>
    <select v-model="myState.operator" v-if="!disabled && !myState.last">
      <option value="+" selected>+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <span class="equals" v-if="myState.last && !disabled">=</span>
  </div>
</template>

<script>
export default {
  name:"Fraction",
  props: ["myState","disabled"],
}
</script>

<style lang="css" scoped>
  .wrap {
    display: flex;
    align-items: center;
  }

  .fraction {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50px;
  }

  input {
    border: none;
    text-align: center;
    background-color: transparent;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    -webkit-appearance: none;
    border: none;
    cursor: pointer
  }

  .equals, select {
    padding: 0 5px;
  }

  .delimiter {
    border-top: 1px solid black;
  }
</style>
