<template>
  <div id="app">
    <img src="./assets/logo.png">
    <div>
      <router-link v-for="route in $router.options.routes" :key="route.name" :to="route.path">{{route.name}}</router-link>
    </div>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
<style scoped>
a {
  padding: 0 5px;
  margin: 0 1%;
  color: #42b983;
}
.container {
  width: 1200px;
  margin: auto;
}
</style>
